*{
    border: 1px solid gray;
  }

.container{
    flex: 95vw;
    /* width: 95vw; */
    height: 95vh;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  
  .info{
    /* flex: 500px; */
    width: 100%;
  }
  .musicBox{
    flex: 90vw;
    /* width:100%; */
  }
  
  .app-container{
  flex: 90vw;
    /* width:50vw; */
  }
  
  #threejs-canvas{
    /* flex:90vw; */
  }